[package]
name = "hayro-postscript"
version = "0.1.0"
description = "A lightweight PostScript scanner."
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

[lints]
workspace = true
