[package]
name = "hayro-ccitt"
version = "0.1.0"
description = "A decoder for group 3 and group 4 CCITT images."
authors.workspace = true
edition.workspace = true
repository.workspace = true
readme = "README.md"
license.workspace = true

[features]
default = []

[lints]
workspace = true
