name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  checks:
    name: Check clippy, formatting, and documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.90.0
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@cargo-hack
      - run: RUSTFLAGS="-D warnings" cargo clippy --workspace --exclude hayro-demo --tests --examples
      - run: cargo fmt --check --all
      - run: RUSTFLAGS="-D warnings" cargo doc --workspace --exclude hayro-demo --no-deps
      - run: RUSTFLAGS="-D warnings" cargo hack check --each-feature --workspace --exclude hayro-demo
        
  load_tests:
    name: Run CI tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.90.0
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --workspace -- "load::"
      - run: cargo test -p hayro-jpeg2000
